<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/img/office.png" width="25" height="25" class="d-inline-block" alt="brand icon" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/">Home</a>
        <a class="nav-link" routerLink="/country">Country</a>
        <a class="nav-link" routerLink="/country/stats">Country Stats</a>
        <a class="nav-link" routerLink="/analyticTable">Analytics</a>
      </div>
    </div>
  </div>
</nav>
