<div class="row m-4 p-2">
  <h4 class="display-6 text-decoration-underline">Tasks</h4>
  <h6>Build a home Page in Angular with a redirection menu that holds one menu item for every task that follows below</h6>
  <ol>
    <li>Create a new screen to:
      <ul>
        <li>Fetch the name, area, country_code2 of all countries and display them in ordered list.</li>
        <li>When clicking on one of the countries, it should redirect the user to another page that displays all spoken languages in this country.</li>
      </ul>
    </li>
    <li>Create a new screen with a table in Angular with the following columns:
      <ul>
        <li>name</li>
        <li>country_code3</li>
        <li>year</li>
        <li>population and</li>
        <li>gdp</li>
      </ul>
      for all the countries and their country stats where the record shown for each country is the maximum gdp per population ratio along the years.
    </li>
    <li>
      Create a new screen that shows a table with columns name from continents table, name from regions table, name from country table, year, population and gdp from country stats table. On top of the table is a search filter area containing, a dropdown selection with all regions as well as date From and date to filters for the year of country stats. User can filter out the results of the table by using these filters.
      Optional: Pagination of results will have a positive impact.
    </li>
  </ol>
</div>

